Topic        = "qmd"
ListenOnAddr = "0.0.0.0:8080"
QueueAddr    = "0.0.0.0:4150"
RedisAddr    = ":6379"
KeepTemp     = false

[worker]
Channel      = "worker"
Throughput   = 2
ScriptDir    = "./scripts"
WorkingDir   = "./"
StoreDir     = "./store"
WhiteList    = ".whitelist"
