topic        = "qmd"
listenOnAddr = "0.0.0.0:8080"
queueAddr    = "0.0.0.0:4150"
redisAddr    = ":6379"

[auth]
enabled      = true
username     = "qmd"
password     = "pass"

[logging]
logLevel     = "INFO" # DEBUG > INFO > NOTICE > WARNING > ERROR > CRITICAL
logBackends  = [ "STDOUT" ] # "STDOUT", "syslog", or "/file/path"

[worker]
channel      = "worker"
throughput   = 2
scriptDir    = "./examples"
workingDir   = "./"
storeDir     = "./store"
whiteList    = ".whitelist"
keepTemp     = false
