Topic        = "job"
ListenOnAddr = "0.0.0.0:8080"
QueueAddr    = "0.0.0.0:4150"
RedisAddr    = ":6379"

[worker]
Channel    = "qmd"
Throughput = 20
ScriptDir  = "/home/vagrant/qmd/scripts"
WhiteList = "whitelist.toml"
WorkingDir = "/home/vagrant/lol"
