bind              = "0.0.0.0:8484"
max_procs         = -1
debug_mode        = true
script_dir        = "./examples/scripts"
work_dir          = "/tmp"
store_dir         = "/data"
max_jobs          = 40
max_exec_time     = 60

[db]
redis_uri         = "127.0.0.1:6379"

[queue]
disque_uri        = "127.0.0.1:7711"
